.shop-page {
    padding: 1rem;
}

.shop-heading {
    display: none;
    margin: 0;
    font-size: 36px;
    font-style: italic;
}

.item-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    place-items: center;
    gap: 20px;
}

.card-container {
    width: 100%;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    font-size: 50px;
}

.loading-screen {
    font-style: italic;
}