.cart-title {
    font-style: italic
}

.cart-items {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 1rem;
}

.cart-item {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid black;
}

.cart-picture {
    width: 150px;
    border: solid white 5px;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.remove-item-button {
    border-style: none;
    color: white;
    background-color: red;
}

.remove-item-button:hover {
    background-color: salmon;
}

.total-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 2rem;
}

.total-cost {
    font-weight: bold;
    font-size: 42px;
}

.checkout-button {
    border-style: none;
    color: white;
    background-color: green;
    font-size: 24px;
    font-weight: bold;
}

.checkout-button:hover {
    color: black;
    background-color: lightgreen;
}