.item-card {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
}

.item-picture {
    height: 60%;
    padding: 1rem;
    transition: .15s;
}

.item-picture:hover {
    opacity: .5;
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.item-info {
    width: 100%;
}

.item-name {
    font-weight: bold;
    transition: .15s;
}

.item-name:hover {
    cursor: pointer;
    color: plum;
}

.item-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: .5rem;
    gap: 5px;
}

.qty {
    color: white;
}

.minus-button,
.add-button {
    font-family: monospace;
    border-style: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 .5rem;
    height: 1.5em;
    aspect-ratio: 1/1;
}

.minus-button {
    background-color: red;
}

.minus-button:hover {
    background-color: salmon;
}

.add-button {
    background-color: green;
}

.add-button:hover {
    background-color: lightgreen;
}

.item-amount {
    font-size: 24px;
    width: 2rem;
}

.add-to-cart-button {
    color: white;
    background-color: steelblue;
    border-radius: 5px;
}