.nav-bar {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-item {
    font-size: 40px;
    font-weight: bold;
}