.nav-bar {
    background-color: lightgreen;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 4rem;
}

.store-links {
    display: flex;
}

.nav-item {
    font-size: 48px;
    font-weight: bold;
    color: black;
    padding: 0 1rem;
}

.nav-item:hover {
    color: white;
}

.nav-cart {
    display: flex;
    align-items: center;
}

.cart-icon {
    height: 48px;
    width: 48px;
}

svg:hover {
    fill: white;
}

.cart-qty {
    font-family: monospace;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    place-self: flex-start;
    font-size: 14px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    padding: .1rem;
    margin-top: 10px;
}