@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: Lato, sans-serif;
}

.container {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: 6rem auto;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.top-nav-bar {
  z-index: 1;
  grid-row: 1 / 2;
  background-color: lightgreen;
  position: sticky;
  top: 0;
}

.main-content-area {
  height: 100%;
  text-align: center;
  background-color: lightblue;
}